<!DOCTYPE html>
<!--
Alexander Thompson
SoftDev2 pd2
2020-04-19
-->
  <!DOCTYPE html>
  <meta charset="utf-8">

  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>

  <!-- Create a div where the graph will take place -->
  <center>
    <h2 id='title'> Average SAT scores by school in NYC 2010 (out of 2400)<h2>
    <br>
    <div id="hist"></div>

    <b id="caption"> Click this button to see 2012 scores in NYC </b>
    <button type="button" id = "transition"> Transition </button>
  </center>
  <script src="static/js/scores.js"> </script>
</body>
</html>
