<!DOCTYPE html>

<head>
  {% block head %}
  <title>
    {% block title %}
    <p> First flash </p>
    {% endblock %}
  </title>
  {% endblock %}
</head>

<body>
  {% block content %}
    {% endblock %}
    <br>
    <br>
    {% block footer %}
    <p> The Alexs </p>
  <a href = "https://github.com/athompson00/SoftDev-HW/tree/master/16_flasherit"> Thumb Thompson </a>
  <br>
  <br>
  <a href = "https://github.com/aolteanu00/sd/tree/master/16_flasherit"> UmOlteanu </a>
    {% endblock %}
</body>
</html>
